responsive : {
    // breakpoint from 0 up
    0 : {
        option1 : value,
        option2 : value,
        ...
    },
    // breakpoint from 480 up
    480 : {
        option1 : value,
        option2 : value,
        ...
    },
    // breakpoint from 768 up
    768 : {
        option1 : value,
        option2 : value,
        ...
    }
}

.owl-carousel .items {
    padding: 30px 0px;
}
.owl-carousel .items img:hover{
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
}
.owl-carousel .owl-stage-outer {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    margin-left: 20px;
}
.owl-theme .owl-dots .owl-dot {
    display: none;
    zoom: 1;
}
.owl-theme .owl-nav {
    position: relative;
    top: 0px;
    margin-top: 0!important;
}
.owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: -17px;
    color: #847577!important;
    border-radius: 50%!important;
    bottom:54px;
    height: 32px;
    font-size: 18px!important;
    width: 32px;
    background: #ffffff!important;
	padding: 10px;
    font-weight: 900!important;
    margin: 0px!important;
	border:1px solid #e1e1e1;
    line-height: 0;
	border-width: 1px;
}
.owl-theme .owl-nav .owl-next {
    position: absolute;
    right: -17px;
    color: #847577!important;
    border-radius: 50%!important;
    bottom: 54px;
    height: 32px;
    font-size: 18px!important;
    width: 32px;
    background: #ffffff!important;
    padding: 10px;
    font-weight: 900!important;
    margin: 0px!important;
	border:1px solid #e1e1e1;
    line-height: 0;
	border-width: 1px;
}
.owl-theme .owl-nav .owl-next:hover {
    color: #fff!important;
    background: #ffa803!important;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.owl-theme .owl-nav .owl-prev:hover {
    color: #fff!important;
    background: #ffa803!important;
	border-color: rgb(225, 225, 225);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
